{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <div class="container">
        <div style="text-align:center; padding-left:10.5rem">
            <div row>
                <div class="col my-2" style="font-size:1.5rem; border:3px solid #0a0a0a; margin-top:1rem; width:60rem; height:15rem; border-radius:1rem">
                    <div style="margin-top:1rem">
                        <br>
                        <h4>"화이자 접종 후 사경 헤매"...백신 부작용 靑 청원 잇따라</h4>
                        <br>
                        <form action="/replaceapp/challenge/" method="post">
                            {% csrf_token %}
                            <input type="text" name="input_text" style="width:40rem; margin-left:3rem">
                            <input type="submit" class="btn btn-outline-dark rounded-pill px-3">
                        </form>
                    </div>
                </div>
                <div class="col my-2" style="font-size:1.5rem; border:3px solid #0a0a0a; margin-top:1rem; width:60rem; height:15rem; border-radius:1rem">
                    <br>
                    {% for data in data_list %}
                        <h3>{{ data.text }}</h3>
                    {% endfor %}
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}