{% extends 'base.html' %}

{% block content %}

<div class="container" style="font-family: 'Gowun Dodum', sans-serif;">
  <div class="row">
    <div class="col mx-2" style="background-color: white; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: navajowhite; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
            유형 카테고리
            </div>
        </div>
        <h1></h1>
        <div class="mb-2">
            <div class="text-left">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:#3572A5 !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>&nbsp;판단유보 A형</span>
            </div>
            <h1></h1>
            <div class="text-center">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#e34c26 !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>책임회피 B형</span>
            </div>
            <h1></h1>
            <div class="text-right">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#f1e05a !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>선정성 C형&nbsp;&nbsp;&nbsp;</span>
            </div>
            <h1></h1>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 10.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 59.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 책임회피 B형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 30.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 39.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 선정성 C형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 30.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 39.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
  <div class="row">
    <h5></h5>
  </div>
  <div class="row">
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 10.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 59.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 10.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 59.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 책임회피 B형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 30.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 39.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 선정성 C형 >
            </div>
        </div>
        <div>
            안녕하세요.
            <br>반갑습니다
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 30.5%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 39.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 30.0%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
</div>

{% endblock %}