{% extends 'base.html' %}

{% block content %}

<div class="container" style="font-family: 'Gowun Dodum', sans-serif;">
  <div class="row">
    <div class="col mx-2" style="background-color: white; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: navajowhite; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
            유형 카테고리
            </div>
        </div>
        <h1></h1>
        <div class="mb-2">
            <div class="text-left">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:#3572A5 !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>&nbsp;판단유보 유형</span>
            </div>
            <h1></h1>
            <div class="text-center">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#e34c26 !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>책임회피 유형</span>
            </div>
            <h1></h1>
            <div class="text-right">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#f1e05a !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>선정주의 유형</span>
            </div>
            <h1></h1>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label0 }}
            </div>
        </div>
        <div>
            {{ sen0 }}<br>
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred000 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred001 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred002 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label1 }}
            </div>
        </div>
        <div>
            {{ sen1 }}<br>
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred100 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred101 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred102 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label2 }}
            </div>
        </div>
        <div>
            {{ sen2 }}<br>

        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred200 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred201 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred202 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
  <div class="row">
    <h5></h5>
  </div>
  <div class="row">
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label3 }}
            </div>
        </div>
        <div>
            {{ sen3 }}
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred300 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred301 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred302 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label4 }}
            </div>
        </div>
        <div>
            {{ sen4 }}
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred400 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred401 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred402 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label5 }}
            </div>
        </div>
        <div>
            {{ sen5 }}
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred500 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred501 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred502 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                {{ label6 }}
            </div>
        </div>
        <div>
            {{ sen6 }}
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: {{ pred600 }}%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: {{ pred601 }}%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: {{ pred602 }}%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
</div>

{% endblock %}