{% extends 'base.html' %}

{% block content %}

<div class="container" style="font-family: 'Gowun Dodum', sans-serif;">
  <div class="row">
    <div class="col mx-2" style="background-color: white; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: navajowhite; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
            유형 카테고리
            </div>
        </div>
        <h1></h1>
        <div class="mb-2">
            <div class="text-left">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:#3572A5 !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>&nbsp;판단유보 A형</span>
            </div>
            <h1></h1>
            <div class="text-center">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#e34c26 !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>책임회피 B형</span>
            </div>
            <h1></h1>
            <div class="text-right">
                <span data-view-component="true" class="Progress">
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:white !important;;width: 33.3%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                    <span style="background-color:#f1e05a !important;;width: 33.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                </span>
                <span>선정성 C형&nbsp;&nbsp;&nbsp;</span>
            </div>
            <h1></h1>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            국감 나온 남양유업 회장 "바지사장" 질타에 "몰랐다"
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 71.6%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 1.8%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 26.6%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 책임회피 B형 >
            </div>
        </div>
        <div>
            북한군 피격 공무원 유족 "직접 챙기겠다는 대통령 약속 잊었나"
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 0.02%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 99.93%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 0.05%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 선정성 C형 >
            </div>
        </div>
        <div>
            홍수 피해 입었지만 대박 난 태국 식당 "물 튀어도 좋아"
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 0.03%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 0.02%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 99.95%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
  <div class="row">
    <h5></h5>
  </div>
  <div class="row">
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            "대포통장 발급해 거래하라" ... 빗썸, 외국 고객에 불법거래 안내문 논란
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 98.23%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 0.04%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 1.73%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 판단유보 A형 >
            </div>
        </div>
        <div>
            경찰, 유동규 휴대전화 하루만에 확보했다…"인근 주민이 습득"
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 64.67%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 35.14%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 0.19%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 책임회피 B형 >
            </div>
        </div>
        <div>
            정청래 "원희룡, 4등이라도 하니 눈에 뵈는게 없나...공부나 더해라"
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 0.93%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 78.68%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 20.39%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
    <div class="col mx-2" style="background-color: thistle; height: 10rem; border-radius:1rem">
        <div class="row my-2" style="background-color: plum; height: 1.5rem; border-radius:1rem">
            <div class="text-center">
                < 선정성 C형 >
            </div>
        </div>
        <div>
            성추행 피해 후 사직·숨진 직원에 국세청장 "유감" 표명
        </div>
        <div class="mb-2">
            <span data-view-component="true" class="Progress">
                <span style="background-color:#3572A5 !important;;width: 18.18%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#e34c26 !important;;width: 1.13%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
                <span style="background-color:#f1e05a !important;;width: 80.69%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse"></span>
            </span>
        </div>
    </div>
  </div>
</div>

{% endblock %}