{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col mx-2" style="background-color: tan; height:50rem; border:4px solid #0a0a0a; border-radius: 1rem">

            <div class="text-center">
                <div style="margin-right:5rem; font-size: 3.5rem">SCORE</div>
                <div style="margin-left:5rem; font-size: 3.5rem">BORED</div>
            </div>

            <h5 style="padding-right:1rem;">
                2021년 8월 27일 금요일
            </h5>

            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:cornflowerblue; height:13rem; border-radius:1rem">
                df
            </div>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:cornflowerblue; height:22rem; border-radius:1rem">
                df
            </div>

        </div>

        <div class="col mx-2" style="background-color: tan; height:50rem; border:4px solid #0a0a0a; border-radius: 1rem">
            <h5 style="margin-top:1rem;">< Today's 판단유보(A유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:cornflowerblue; height:13rem; border-radius:1rem">
                df
            </div>
            <h5 style="margin-top:1rem;">< Today's 책임회피(B유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:cornflowerblue; height:13rem; border-radius:1rem">
                df
            </div>
            <h5 style="margin-top:1rem;">< Today's 선정성(C유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:cornflowerblue; height:13rem; border-radius:1rem">
                df
            </div>
        </div>

        <div class="col mx-2" style="background-color: white; height: 50rem;">
            <div class="row my-2" style="background-color: cornflowerblue; height:24rem; border:4px solid #0a0a0a; border-radius: 1rem;">
                test
            </div>

            <div class="row my-2" style="background-color: cornflowerblue; height: 24rem; border:4px solid #0a0a0a; border-radius: 1rem">
                <div class="text-center" style="margin-right:5rem; font-size: 2.5rem">
                    WINNER BORED
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}