{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col mx-2" style="background-color: #FFE16B; height:50rem; border:4px solid #0a0a0a; border-radius: 1rem">

            <div class="text-center">
                <br>
                <div style="font-size: 3rem; font-family: 'Gowun Dodum', sans-serif;">SCORE BOARD</div>
                <br>
            </div>
            {# 달력 #}
            <h4 class="text-center" style="padding-right:1rem;">
                <a style="font-size: 1.8vw; ">
                    {{ today }}
                </a>
            </h4>

            {# 따옴표지수 #}
            <div class="col my-2" style="font-family: 'Gowun Dodum', sans-serif; border: 3px solid #0a0a0a; background-color:#EDE8D3; height:13rem; border-radius:1rem">
                <div class="text-left" style="padding-left:1rem;">
                    <a style="font-size: 1.8vw; ">
                        오늘의 따옴표 지수&nbsp&nbsp
                    </a>
                    <a style="font-size: 1.2vw;">
                        {{ today }}
                    </a>
                </div>
                <div class="text-center" style="padding:1.5rem; font-size:3rem;">
                    {{ total }}
                </div>
            </div>
            {# 토픽별 따옴표 지수 #}
            <div class="col my-2" style="font-family: 'Gowun Dodum', sans-serif; border: 3px solid #0a0a0a; background-color:#EDE8D3; height:22rem; border-radius:1rem">
                <div class="text-left" style="padding-left:1rem;">
                    <a style="font-size: 1.6vw; ">
                       카테고리별 따옴표 지수&nbsp&nbsp
                    </a>
                    <a style="font-size: 1vw;">
                        {{ today }}
                    </a>
                </div>
                <div class="row" style="margin-top:3.5rem">
                    <div class="col text-center" style="border-right: 3px solid #0a0a0a;">
                        정치: {{ politics }}
                    </div>
                    <div class="col text-center">
                        국제: {{ world }}
                    </div>
                </div>
                <div class="row" style="margin-top:1.2rem">
                    <div class="col text-center" style="border-right: 3px solid #0a0a0a;">
                        경제: {{ economy }}
                    </div>
                    <div class="col text-center">
                        사회: {{ social }}
                    </div>
                </div>
                <div class="row" style="margin-top:1rem">
                    <div class="col text-center" style="border-right: 3px solid #0a0a0a;">
                        스포츠: {{ sports }}
                    </div>
                    <div class="col text-center">
                        문화: {{ culture }}
                    </div>
                </div>
                <div class="row" style="margin-top:1rem">
                    <div class="col text-center" style="border-right: 3px solid #0a0a0a;">
                        &nbsp&nbsp&nbspIT_과학: {{ science }}
                    </div>
                    <div class="col text-center">

                    </div>
                </div>
            </div>

        </div>

        <div class="col mx-2" style="background-color: #FFE16B; height:50rem; border:4px solid #0a0a0a; border-radius: 1rem">
            <h5 class="text-center" style="margin-top:1rem; font-family: 'Gowun Dodum', sans-serif;">< Today's 판단유보(A유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:#EDE8D3; height:13rem; border-radius:1rem">
                 <span class="mx-2">
                    <a href="{% url 'traceapp:group' %}">
                        해부!따옴표!
                    </a>
                 </span>
                <p>검찰 "수사팀 불찰 송구...경찰 분석에 적극 협력"</p>
                <p>국감 나온 남양유업 회장 "바지사장" 질타에 "몰랐다"</p>
                <p>카카오모빌리티 "스마트호출 이어 프로멤버십도 폐지 검토"</p>
            </div>

            <h5 class="text-center" style="margin-top:1rem; font-family: 'Gowun Dodum', sans-serif;">< Today's 책임회피(B유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:#EDE8D3; height:13rem; border-radius:1rem">
                 <span class="mx-2">
                    <a href="{% url 'traceapp:group' %}">
                        해부!따옴표!
                    </a>
                 </span>
                <p>북한군 피격 공무원 유족 "직접 챙기겠다는 대통령 약속 잊었나"</p>
                <p>與, 최재형 탈락에 맹비난...원희룡 "사과하라"</p>
                <p>與 정청래, 최재형에 "다시는 정치권 기웃 말라"</p>
            </div>
            <h5 class="text-center" style="margin-top:1rem; font-family: 'Gowun Dodum', sans-serif;">< Today's 선정성(C유형) ></h5>
            <div class="col my-2" style="border: 3px solid #0a0a0a; background-color:#EDE8D3; height:13rem; border-radius:1rem">
                 <span class="mx-2">
                    <a href="{% url 'traceapp:group' %}">
                        해부!따옴표!
                    </a>
                 </span>
                <p>한국어로 "무궁화 꽃이 피었습니다"···경찰까지 딱 멈춘 여긴···</p>
                <p>국힘 4강 승자는 '화천대유 1타강사' 원희룡… "이재명 민낯 드러낼 것"</p>
                <p>홍수 피해 입었지만 대박 난 태국 식당 "물 튀어도 좋아"</p>
            </div>
        </div>

        <div class="col mx-2" style="height: 50rem;">

            <div class="row my-2" style="background-color: #FFE16B; height:24rem; border:4px solid #0a0a0a; border-radius: 1rem;">
                <div class="text-center" style="font-size:1.3rem; margin-top:1rem; font-family: 'Gowun Dodum', sans-serif;">
                    따옴표 유형을 분석해보세요!
                    <nav class="navbar navbar-expand-lg">
                      <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="주소를 입력해주세요." aria-label="Search" style="width:15rem" aria-current="true">
                            <button class="btn btn-outline-success" type="submit">
                                <a href="{% url 'mainapp:mainpage' %}" >
                                    분석 ✔
                                </a>
                            </button>
                          </form>
                        </div>
                      </div>
                    </nav>
                </div>
                <div class="col my-2" style="background-color: #EDE8D3; border-top: 4px solid #0a0a0a; width:1rem; height:16.65rem; border-bottom-left-radius:0.6rem; border-bottom-right-radius:0.6rem">
                    <div style="margin-top:1rem; font-family: 'Gowun Dodum', sans-serif;" class="text-center">
                        <div style="font-size:1.5rem;">
                            < &nbsp;유형 분석 결과&nbsp; >
                        </div>
                        <div style="background-color: #a2d7c7">
                        <br>"화이자 접종 후 사경 헤매"...백신 부작용 청원 잇따라
                        </div>
                    </div>
                    <div class="mb-2" style="font-family: 'Gowun Dodum', sans-serif;">
                        <br>
                        <span data-view-component="true"     style="display: flex; height: 1.3rem; overflow-x: hidden;
                        overflow-y: hidden; border-radius:6px; outline-color: transparent; outline-style: solid; outline-width: 1px;">
                            <span style="background-color:#3572A5 !important;;width: 11.2%;" itemprop="keywords" aria-label="A유형" data-view-component="true" class="Progress-item color-bg-success-inverse">
                                <div class="text-center" style="font-size:0.8rem; color:white">
                                    A유형
                                </div>
                            </span>
                            <span style="background-color:#e34c26 !important;;width: 71.5%;" itemprop="keywords" aria-label="B유형" data-view-component="true" class="Progress-item color-bg-success-inverse">
                                <div class="text-center" style="font-size:0.8rem; color:white">
                                    B유형
                                </div>
                            </span>
                            <span style="background-color:#f1e05a !important;;width: 17.3%;" itemprop="keywords" aria-label="C유형" data-view-component="true" class="Progress-item color-bg-success-inverse">
                                <div class="text-center" style="font-size:0.8rem; color:white">
                                    C유형
                                </div>
                            </span>
                        </span>
                    </div>
                    <div style="margin-top:0.3rem; font-family: 'Gowun Dodum', sans-serif;">
                        <div class="text-center">
                            A유형 11.2%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; B유형 71.5%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C유형 17.3%<br><br>
                            ⇒&nbsp;&nbsp; 본 기사는 '책임회피(B유형)' 에 해당됩니다.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-2" style="height: 0.3rem;"></div>

            <div class="row my-2" style="background-color: #FFE16B; height: 24rem; border:4px solid #0a0a0a; border-radius: 1rem">
                <div class="text-center" style="margin-right:5rem; font-size: 2.5rem; font-family: 'Gowun Dodum', sans-serif;">
                    WINNER&nbsp; BOARD
                </div>
                <div class="text-center" style="font-family: 'Gowun Dodum', sans-serif;">
                    <a style="font-size:1.2rem">
                        이 주의 따옴표 주인공은
                    </a>
                    <a style="font-size:1.6rem">
                        <br>{{ top }}
                    </a>
                    <a style="font-size:1.2rem">
                        입니다.
                    </a>
                </div>
                <div class="mx-2">
                    <div class="col" style="background-color: #EDE8D3; width:23rem; height: 13rem; border:3px solid #0a0a0a; border-radius: 1rem">
                        <img src="{% static 'img/top.jpg' %}"
                             style="width: 100%;
                                    height: 100%;
                                    border-radius: 1rem;
                                    object-fit: cover;"
                         >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}