.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
}

.pragmatic_header_button {
    margin-bottom :2rem;
}

.pragmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_footer_button {
    margin-top: 1.5rem;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: "NanumSquareB", cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgrey;
}

.article_content {
    text-align: left;
    font-size: 1.1rem;
}

.article_image{
    border-radius: 2rem;
    width: 60%;
    box-shadow: 0 0 1rem darkgray;
}

.comment_box {
    text-align: left;
    border: solid;
    border-color: #dfdfdf;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.Progress {
    display: flex;
    height: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 1px;
}


.octicon {
    display: inline-block;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.text-right {
    text-align: right;
}


.list-style-none {
    list-style-position: initial !important;
    list-style-image: initial !important;
    list-style-type: none !important;
}

.mr-3 {
    margin-right: 5px !important;
}

.mr-2 {
    margin-right: 8px !important;
}

.mr-1 {
    margin-right: 4px !important;
}

.d-inline{
    display: inline !important;
}

.d-inline-flex{
    display: inline-flex !important;
}

.flex-items-center {
    align-items: center !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.no-underline {
    text-decoration-line: none !important;
    text-decoration-thickness: initial !important;
    text-decoration-style: initial !important;
    text-decoration-color: initial !important;
}

.text-small {
    font-size: 14px !important;
}

.analysis_header {
    text-align: left;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font-size = 16px */
        font-size: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}