<div style="text-align: center">
    <div class="pragmatic_header_logo">
        <a href="{% url 'home' %}">
            <h1>66_99</h1>
        </a>
    </div>
    <div class="pragmatic_header_button">

        <span class="mx-2">
            <a href="{% url 'analysisapp:explain' %}">
                분석!따옴표!
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'traceapp:group' %}">
                추적!따옴표!
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'replaceapp:challenge' %}">
                대체!따옴표!
            </a>
        </span>
        {% if not user.is_authenticated %}
        <span class="mx-2">
            <a href="{% url 'accountapp:login' %}">
                로그인
            </a>
        </span>
        <span class="mx-2">
            <a href="{% url 'accountapp:create' %}">
                회원가입
            </a>
        </span>
        {% else %}
        <span class="mx-2">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                Mypage
            </a>
        </span>
            <span class="mx-2">
            <a href="{% url 'accountapp:logout' %}">
                로그아웃
            </a>
        </span>
        {% endif %}
    </div>
</div>