{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}


<div class="container">
    <div style="text-align:center; padding-left:10.5rem">
        <div class="col" style="font-size:1.5rem; border:3px solid #0a0a0a; margin-top:1rem; width:60rem; height:15rem; border-radius:1rem">
            <div style="margin-top:1rem">
                <div>
                    <div style="font-size:2rem">
                        TEAM 66.99
                    </div>
                    <div>
                        <br>
                        Reader&Data 김태희&nbsp; / &nbsp;Model 김준형&nbsp; / &nbsp;Model 정의형 &nbsp;/&nbsp; Web 류재원
                        <br>
                        <br>
                    </div>
                    <span class="mx-2" style="font-size:1rem">
                        <a href="https://github.com/hale-in/bbqq">
                            66.99's &nbsp;GITHUB_PAGE&nbsp;&nbsp;&nbsp;← CLICK!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            ✉ E-mail : quotation6699@gmail.com
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}