{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}


<div class="container">
    <div style="text-align:center; padding-left:10.5rem">
        <div class="col" style="font-size:1.5rem; border:3px solid #0a0a0a; margin-top:1rem; width:60rem; height:10rem; border-radius:1rem">
            <div style="margin-top:1rem">
                <div>
                <span class="mx-2">
                    <a href="https://github.com/hale-in/bbqq">
                        66.99's GITHUB_PAGE&nbsp;&nbsp;&nbsp;← CLICK!<br>
                    </a>
                </span>
                        <br style="margin-top:1rem">E-mail : quotation6699@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}